* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
}

body h1 {
  color: #eff6e0;
  font-family: "Anton", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  width: 60%;
}

body h2 {
  color: #eff6e0;
  font-family: "Anton", sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  margin: 30px auto;
  width: 60%;
}

body p {
  color: #eff6e0;
  font-family: "Noticia Text", serif;
  font-size: 16px;
  padding-right: 10px;
}

body a {
  color: #eff6e0;
  font-family: "Anton", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body a:hover {
  color: #124559;
}

body .boutons {
  background-color: #ef8354;
  border-bottom: 2px solid #e4b363;
  border-right: 1px solid #e4b363;
  border-left: 1px solid #e4b363;
  border-radius: 3px;
  -webkit-box-shadow: 0px -1.5px 4px #124559;
          box-shadow: 0px -1.5px 4px #124559;
  max-height: 40px;
  margin: 20px 30px;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  max-width: 250px;
  min-width: 100px;
  width: 200px;
  text-align: center;
}

body .boutons:hover {
  background-color: #e4b363;
  -webkit-box-shadow: 0px 0px 0px #124559;
          box-shadow: 0px 0px 0px #124559;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

body .bouton-actif-client {
  background-color: #e4b363;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px #124559;
          box-shadow: 0px 0px 0px #124559;
  color: #01161e;
  max-height: 40px;
  margin: 20px 30px;
  max-width: 250px;
  min-width: 100px;
  padding: 3px;
  text-align: center;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  width: 200px;
}

body .bouton-actif-admin {
  background-color: #01161e;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px #124559;
          box-shadow: 0px 0px 0px #124559;
  color: #aec3b0;
  max-height: 40px;
  margin: 20px 30px;
  max-width: 250px;
  min-width: 100px;
  padding: 3px;
  text-align: center;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  width: 200px;
}

body header {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

body header nav {
  position: fixed;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 90px;
  z-index: 2;
  overflow: hidden;
}

body header nav .boutons-gauche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  z-index: 10;
}

body header nav .logo-nav {
  margin-top: 20px;
  z-index: 10;
}

body header nav img {
  height: 60px;
}

body header nav .boutons-droit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
}

body header nav .boutons-droit .bouton-transparent {
  width: 310px;
}

body header .gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 260px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ef8354), color-stop(36%, #e4b363), color-stop(83%, #eff6e0), to(#aec3b0));
  background: linear-gradient(0deg, #ef8354 0%, #e4b363 36%, #eff6e0 83%, #aec3b0 100%);
  z-index: 1;
}

body header .montagne2 {
  position: absolute;
  top: 70px;
  left: 0px;
  min-width: 1200px;
  z-index: 3;
}

body header .montagne2 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 25%;
  width: 110%;
}

body header .montagne1 {
  position: absolute;
  top: 170px;
  left: 0px;
  min-width: 1200px;
  z-index: 4;
}

body header .montagne1 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 35%;
  width: 110%;
}

body .conteneur {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0px auto;
  margin-bottom: 60px;
  width: 100%;
}

body .encadres {
  -webkit-box-shadow: 10px 10px 30px #050e11;
          box-shadow: 10px 10px 30px #050e11;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #124559;
  border: 2px solid #e4b363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px auto;
  max-height: 250px;
  min-width: 800px;
  max-width: 1400px;
  padding: 20px;
  width: 70%;
  overflow: auto;
}

body form {
  -webkit-box-shadow: 10px 10px 30px #050e11;
          box-shadow: 10px 10px 30px #050e11;
}

body .erreur p {
  color: #ef8354;
  font-family: "Noticia Text", serif;
  font-weight: bold;
}

body .reussi p {
  color: #eff6e0;
  font-family: "Noticia Text", serif;
  font-weight: bold;
}

body.accueil {
  background-color: #01161e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

body.accueil .conteneur .section-haut {
  background-image: url("../images/image-accueil-projet-web.jpg");
  background-position: 70% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 15vw;
}

body.accueil .conteneur .section-haut .titre h1 {
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: 64px;
  letter-spacing: 2px;
  min-width: 600px;
  width: 60%;
}

body.accueil .conteneur .section-haut .sous-titre h3 {
  text-align: left;
  color: #eff6e0;
  font-family: "Noticia Text", serif;
  font-style: italic;
  font-size: 30px;
  letter-spacing: 1px;
  min-width: 600px;
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
  width: 60%;
}

body.accueil .conteneur .section-haut .texte p {
  font-size: 24px;
  margin-bottom: 30px;
  min-width: 600px;
  text-align: justify;
  width: 60%;
}

body.accueil .conteneur .section-haut .logos-commanditaires img {
  height: 60px;
  margin: 30px 60px 0px 0px;
}

body.accueil .conteneur .section-bas {
  margin-bottom: 60px;
  margin-top: 100px;
  width: 100%;
}

body.accueil .conteneur .section-bas h2 {
  width: 50%;
}

body.accueil .conteneur .section-bas .encadres .image {
  margin: 0px 40px;
}

body.accueil .conteneur .section-bas .encadres .image img {
  min-height: 145px;
  max-height: 180px;
}

body.accueil .conteneur .section-bas .encadres .details-episodes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: justify;
  width: 70%;
  max-width: 800px;
  min-width: 250px;
  height: 100%;
  max-height: 200px;
}

body.accueil .conteneur .section-bas .encadres .details-episodes .titre-episode h2 {
  color: #eff6e0;
  font-family: "Anton", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  margin: 0px;
}

body.accueil .conteneur .section-bas .encadres .details-episodes .chaque-episode {
  margin-bottom: 10px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body.accueil .conteneur .section-bas .encadres .details-episodes .chaque-episode .numero-episode {
  color: #e4b363;
  font-family: "Anton", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 20px;
}

body.accueil .conteneur .section-bas .encadres .details-episodes .chaque-episode .date-episode {
  margin-right: 20px;
  color: #e4b363;
  font-family: "Noticia Text", serif;
  font-size: 16px;
}

body.accueil .conteneur .section-bas .encadres .details-episodes .chaque-episode .temps-episode {
  margin-right: 20px;
  color: #e4b363;
  font-family: "Noticia Text", serif;
  font-size: 16px;
}

body.accueil .conteneur .section-bas .encadres .details-episodes .description-episode {
  color: #eff6e0;
  font-family: "Noticia Text", serif;
  font-size: 18px;
  margin-bottom: 10px;
  overflow: auto;
}

body.accueil .conteneur .section-bas .encadres .details-episodes .description-episode p {
  margin-top: 0px;
}

body.accueil .conteneur .section-bas .encadres .bouton-play {
  -webkit-box-shadow: 0px -1.5px 4px #01161e;
          box-shadow: 0px -1.5px 4px #01161e;
  min-height: 70px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  max-width: 80px;
  min-width: 60px;
  font-size: 44px;
  padding: 0px 25px;
}

body.accueil .conteneur .section-bas .encadres .bouton-play:hover {
  -webkit-box-shadow: 0px 0px 0px #01161e;
          box-shadow: 0px 0px 0px #01161e;
}

body.formulaire {
  background-color: #01161e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.formulaire header {
  height: 110px;
}

body.formulaire .conteneur {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-bottom: 100px;
}

body.formulaire .conteneur h1 {
  margin: 30px auto;
  min-width: 570;
  text-align: center;
}

body.formulaire .conteneur .login-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0px auto;
  width: 50%;
}

body.formulaire .conteneur .login-form form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #124559;
  border: 2px solid #e4b363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 400px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0px auto;
  max-width: 600px;
  min-width: 474px;
  padding: 20px;
  width: 100%;
}

body.formulaire .conteneur .login-form form span {
  color: #e4b363;
  display: inline-block;
  font-size: 18px;
  width: 100px;
}

body.formulaire .conteneur .login-form form label {
  display: block;
  margin: 5px;
}

body.formulaire .conteneur .login {
  margin: 40px;
}

body.formulaire .conteneur .login input,
body.formulaire .conteneur .login select {
  background-color: #598392;
  border: 2px solid #e4b363;
  font-family: "Noticia Text", serif;
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  min-width: 200px;
  padding: 15px;
  text-align: center;
  width: 70%;
}

body.formulaire .conteneur .login input[type=submit] {
  background-color: #e4b363;
  border: 2px solid #e4b363;
  border-radius: 5px;
  color: #124559;
  cursor: pointer;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  margin: 60px auto;
  padding: 6px 0px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 40%;
}

body.formulaire .conteneur .login input[type=submit]:hover {
  background-color: #ef8354;
}

body.formulaire .conteneur .login input::-webkit-input-placeholder {
  color: #01161e;
  opacity: 1;
}

body.formulaire .conteneur .login input:-ms-input-placeholder {
  color: #01161e;
  opacity: 1;
}

body.formulaire .conteneur .login input::-ms-input-placeholder {
  color: #01161e;
  opacity: 1;
}

body.formulaire .conteneur .login input::placeholder {
  color: #01161e;
  opacity: 1;
}

body.a-propos {
  background-color: #01161e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.a-propos header {
  height: 110px;
}

body.a-propos .conteneur {
  height: 100%;
  background-image: url("../images/logo-cinema-fait-maison-fond2.svg");
  background-attachment: fixed;
  background-position: 20% 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  padding-top: 100px;
}

body.a-propos .conteneur h1 {
  margin: 30px auto;
  text-align: center;
}

body.a-propos .conteneur h2 {
  margin: 0px auto;
  margin-top: 80px;
  text-align: center;
}

body.a-propos .conteneur .encadres {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

body.a-propos .conteneur .encadres .image {
  margin: 0px 40px;
}

body.a-propos .conteneur .encadres .image img {
  min-height: 145px;
  max-height: 180px;
}

body.a-propos .conteneur .encadres .nom-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0px;
  width: 100%;
}

body.a-propos .conteneur .encadres .nom-titre .nom-membres h3 {
  color: #eff6e0;
  font-family: "Anton", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  margin: 0px;
}

body.a-propos .conteneur .encadres .nom-titre .titre-membres {
  margin: 5px 0px;
}

body.a-propos .conteneur .encadres .nom-titre .titre-membres p {
  color: #e4b363;
  font-family: "Anton", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

body.a-propos .conteneur .encadres .description-membres {
  max-height: 200px;
  overflow: auto;
}

body.a-propos .conteneur .encadres .description-membres p {
  font-size: 18px;
  margin: 0px 40px;
}

body.a-propos .conteneur .texte-a-propos {
  max-height: 600px;
}

body.a-propos .conteneur .texte-a-propos p {
  font-size: 22px;
  margin: 0px 40px;
  padding: 20px;
  text-align: justify;
}

body.video {
  background-color: #01161e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

body.video header {
  height: 110px;
}

body.video .conteneur {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

body.video .conteneur .details-episodes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.video .conteneur .details-episodes .titre-episode h2 {
  color: #eff6e0;
  font-size: 40px;
  letter-spacing: 2px;
  margin: 0px;
  margin-top: 30px;
}

body.video .conteneur .details-episodes .chaque-episode {
  margin-bottom: 10px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body.video .conteneur .details-episodes .chaque-episode .numero-episode {
  color: #e4b363;
  font-family: "Anton", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 20px;
}

body.video .conteneur .details-episodes .chaque-episode .date-episode {
  margin-right: 20px;
  color: #e4b363;
  font-family: "Noticia Text", serif;
  font-size: 16px;
}

body.video .conteneur .details-episodes .chaque-episode .temps-episode {
  margin-right: 20px;
  color: #e4b363;
  font-family: "Noticia Text", serif;
  font-size: 16px;
}

body.video .conteneur .details-episodes .description-episode {
  color: #eff6e0;
  font-family: "Noticia Text", serif;
  font-size: 18px;
  margin-bottom: 10px;
  overflow: auto;
}

body.video .conteneur .details-episodes .description-episode p {
  margin-top: 0px;
}

body.video .conteneur .section-gauche .chaque-episode {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body.video .conteneur .ligne-verticale {
  background-color: #e4b363;
  width: 3px;
  height: 600px;
}

body.video .conteneur .section-droite .liens-videos {
  height: 70vh;
  overflow: auto;
}

body.video .conteneur .section-droite .boutons:hover {
  background-color: #598392;
  -webkit-box-shadow: 0px 0px 0px #124559;
          box-shadow: 0px 0px 0px #124559;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

body.video .conteneur .section-droite .encadres {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  min-width: 400px;
  padding: 10px;
}

body.video .conteneur .section-droite .encadres .image {
  margin: 10px;
}

body.video .conteneur .section-droite .encadres .image img {
  max-height: 120px;
}

body.video .conteneur .section-droite .encadres .details-episodes {
  margin: 10px;
  width: 100%;
}

body.video .conteneur .section-droite .encadres .details-episodes .titre-episode h3 {
  color: #eff6e0;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0px;
  text-align: left;
}

body.video .conteneur .section-droite .encadres .details-episodes .chaque-episode {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.video .conteneur .section-droite .encadres .bouton-play {
  -webkit-box-shadow: 0px -1.5px 4px #01161e;
          box-shadow: 0px -1.5px 4px #01161e;
  min-height: 70px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  max-width: 80px;
  min-width: 60px;
  font-size: 44px;
  padding: 0px 25px;
}

body.video .conteneur .section-droite .encadres .bouton-play:hover {
  -webkit-box-shadow: 0px 0px 0px #01161e;
          box-shadow: 0px 0px 0px #01161e;
}

body.video .conteneur video {
  width: 100%;
  max-width: 1280px;
  height: auto;
}

body.admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

body.admin header {
  height: 110px;
}

body.admin .boutons {
  background-color: #598392;
  border-bottom: 1px solid #aec3b0;
  border-right: 0.5px solid #aec3b0;
  border-left: 0.5px solid #aec3b0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body.admin .boutons:hover {
  background-color: #01161e;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  -webkit-box-shadow: 0px 0px 0px #124559;
          box-shadow: 0px 0px 0px #124559;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

body.admin a:hover {
  color: #aec3b0;
}

body.admin .conteneur {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.admin .conteneur .section-bas .encadres {
  border: 2px solid #aec3b0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

body.admin .conteneur .section-bas .encadres h3 {
  color: #eff6e0;
  font-family: "Anton", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  margin: 0px;
}

body.admin .conteneur .section-bas .encadres .boutons-encadres {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0px;
}

body.admin .conteneur .section-bas .encadres .details-episodes {
  padding-right: 30px;
}

body.admin .conteneur .section-bas .encadres .details-episodes .chaque-episode .temps-episode {
  color: #aec3b0;
}

body.admin .conteneur .section-bas .encadres .details-episodes .chaque-episode .date-episode {
  color: #aec3b0;
}

body.admin .conteneur .section-bas .encadres .details-episodes .chaque-episode .numero-episode {
  color: #aec3b0;
}

body.admin .conteneur .section-bas .encadres .details-episodes .description-episode {
  max-height: 100px;
  overflow: auto;
}

body.admin .conteneur .section-bas .encadres .utilisateur .courriel-utilisateur p {
  color: #aec3b0;
}

body.admin .conteneur .section-bas .encadres .nom-titre {
  width: 100%;
}

body.admin .conteneur .section-bas .encadres .nom-titre .titre-membres p {
  font-family: "Anton", sans-serif;
  color: #aec3b0;
  font-size: 20px;
}

body.admin .conteneur .section-bas .encadres .description-membres {
  margin: 0px 40px;
  max-height: 200px;
  min-width: 200px;
  max-width: 500px;
  overflow: auto;
}

body.admin .conteneur .section-bas .bouton-modifier,
body.admin .conteneur .section-bas .bouton-supprimer {
  -webkit-box-shadow: 0px -1.5px 4px #01161e;
          box-shadow: 0px -1.5px 4px #01161e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: 10px;
}

body.admin .conteneur .section-bas .bouton-modifier:hover {
  -webkit-box-shadow: 0px 0px 0px #01161e;
          box-shadow: 0px 0px 0px #01161e;
}

body.formulaire-admin {
  background-color: #01161e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.formulaire-admin header {
  height: 110px;
}

body.formulaire-admin .conteneur {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body.formulaire-admin .conteneur h1 {
  margin: 30px auto;
  min-width: 350px;
  text-align: center;
}

body.formulaire-admin .conteneur h2 {
  margin: 30px auto;
  min-width: 350px;
  text-align: center;
}

body.formulaire-admin .conteneur .ajout-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0px auto;
  width: 50%;
}

body.formulaire-admin .conteneur .ajout-form form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #124559;
  border: 2px solid #aec3b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 400px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0px auto;
  max-width: 800px;
  min-width: 400px;
  padding: 20px;
  width: 100%;
}

body.formulaire-admin .conteneur .ajout-form form span {
  color: #aec3b0;
  font-family: "Noticia Text", serif;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
}

body.formulaire-admin .conteneur .ajout-form form span strong {
  color: #eff6e0;
}

body.formulaire-admin .conteneur .ajout-form form label {
  display: block;
  margin: 5px;
}

body.formulaire-admin .conteneur .login input,
body.formulaire-admin .conteneur .login select,
body.formulaire-admin .conteneur .login textarea {
  background-color: #598392;
  border: 2px solid #aec3b0;
  font-family: "Noticia Text", serif;
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  min-width: 200px;
  padding: 15px;
  text-align: center;
  width: 70%;
}

body.formulaire-admin .conteneur .login input[type=submit] {
  background-color: #aec3b0;
  border: 2px solid #aec3b0;
  border-radius: 5px;
  color: #124559;
  cursor: pointer;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  margin: 60px auto;
  padding: 6px 0px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 40%;
}

body.formulaire-admin .conteneur .login input[type=submit]:hover {
  background-color: #01161e;
  color: #aec3b0;
}

body.formulaire-admin .conteneur .login input::-webkit-input-placeholder,
body.formulaire-admin .conteneur .login textarea::-webkit-input-placeholder {
  color: #01161e;
  opacity: 1;
}

body.formulaire-admin .conteneur .login input:-ms-input-placeholder,
body.formulaire-admin .conteneur .login textarea:-ms-input-placeholder {
  color: #01161e;
  opacity: 1;
}

body.formulaire-admin .conteneur .login input::-ms-input-placeholder,
body.formulaire-admin .conteneur .login textarea::-ms-input-placeholder {
  color: #01161e;
  opacity: 1;
}

body.formulaire-admin .conteneur .login input::placeholder,
body.formulaire-admin .conteneur .login textarea::placeholder {
  color: #01161e;
  opacity: 1;
}

body footer {
  background-color: #124559;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 820px;
  width: 100%;
}

body footer .logos-commanditaires img {
  height: 30px;
  margin: 10px 30px;
}

body footer .bouton-admin {
  margin: 8px;
  padding: 5px;
}

body footer .bouton-admin a {
  background-color: #598392;
  border-radius: 5px;
  color: #01161e;
  font-family: "Anton", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  padding: 5px 15px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body footer .bouton-admin a:hover {
  background-color: #01161e;
  color: #eff6e0;
}

body footer .bouton-admin .bouton-actif-admin-footer {
  background-color: #01161e;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px #124559;
          box-shadow: 0px 0px 0px #124559;
  color: #eff6e0;
  text-align: center;
}

body footer .logos-reseaux {
  margin-right: 30px;
}

body footer .logos-reseaux img {
  height: 40px;
  margin: 10px 15px;
}
/*# sourceMappingURL=style.css.map */