$orange: #ef8354;
$jaune: #e4b363;
$gris-blanc: #eff6e0;
$verdatre-pale: #aec3b0;
$gris-bleu: #598392;
$bleu-fonce: #124559;
$bleu-noir: #01161e;
$font-anton: 'Anton', sans-serif;
$font-noticia: 'Noticia Text', serif;


* {
    box-sizing: border-box;
  }

body {
    margin: 0px;
    
    //h1 général
    h1 {
        color: $gris-blanc;
        font-family: $font-anton;
        font-size: 40px;
        letter-spacing: 2px;
        width: 60%;
    }

    //h2 général
    h2 {
        color: $gris-blanc;
        font-family: $font-anton;
        font-size: 32px;
        letter-spacing: 2px;
        margin: 30px auto;
        width: 60%;
    }

    p {
        color: $gris-blanc;
        font-family: $font-noticia;
        font-size: 20px;
    }

    a {
        color: $gris-blanc;
        font-family: $font-anton;
        font-size: 20px;
        letter-spacing: 1px;   
        text-align: center;
        text-decoration: none;
        transition: all 0.3s;
    }

    a:hover {
        color: $bleu-fonce;
    }

    
    //styles des boutons sur chaque page
    .boutons {
        background-color: $orange;
        border-bottom: 2px solid $jaune;
        border-right: 1px solid $jaune;
        border-left: 1px solid $jaune;
        border-radius: 3px;
        box-shadow: 0px -1.5px 4px $bleu-fonce;
        max-height: 40px;
        margin: 20px 30px;
        padding: 3px;
        transition: all 0.2s;
        max-width: 250px;
        min-width: 100px;
        width: 200px;
        text-align: center;
    }

    //styles des hovers sur chaque page
    .boutons:hover {
        background-color: $jaune;
        box-shadow: 0px 0px 0px $bleu-fonce;
        transform: translateY(-2px);
    }

    //bouton sur page active du côté client
    .bouton-actif-client {
        background-color: $jaune;
        border-radius: 3px;
        box-shadow: 0px 0px 0px $bleu-fonce;
        color: $bleu-noir;
        max-height: 40px;
        margin: 20px 30px;
        max-width: 250px;
        min-width: 100px;
        padding: 3px;
        text-align: center;
        transform: translateY(-2px);
        width: 200px;
    }

    //bouton sur page active du côté admin
    .bouton-actif-admin {
        background-color: $bleu-noir;
        border-radius: 3px;
        box-shadow: 0px 0px 0px $bleu-fonce;
        color: $verdatre-pale;
        max-height: 40px;
        margin: 20px 30px;
        max-width: 250px;
        min-width: 100px;
        padding: 3px;
        text-align: center;
        transform: translateY(-2px);
        width: 200px;
    }

    //header style principal et général
    header {
        
        position: relative;
        width: 100%;
        height: 260px;
        overflow: hidden;
        
        nav {
            position: fixed;
            top: 0px;
            left: 0px;
            display: flex;
            // flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            height: 90px; 
            z-index: 2;
            overflow: hidden;

            .boutons-gauche {
                display: flex;
                // flex-wrap: wrap;
                justify-content: start;
                z-index: 10;
            }

            .logo-nav {
                margin-top: 20px;
                z-index: 10;
            }

            img {
                height: 60px;
            }

            .boutons-droit {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                z-index: 10;

                .bouton-transparent {
                    width: 310px;
                }
            }
        }

        //gradient large page accueil
        .gradient {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100vw;
            height: 260px;
            background: linear-gradient(0deg, rgba(239,131,84,1) 0%, rgba(228,179,99,1) 36%, rgba(239,246,224,1) 83%, rgba(174,195,176,1) 100%);
            z-index: 1;
        }

        //images de montagne arrière plan avec paralax
        .montagne2 {
            position: absolute;
            top: 70px;
            left: 0px;
            min-width: 1200px;
            z-index: 3;

            img {
                object-fit: cover;
                height: 25%;
                width: 110%;
            }
        }

        //images de montagne avant plan avec paralax
        .montagne1 {
            position: absolute;
            top: 170px;
            left: 0px;
            min-width: 1200px;    
            z-index: 4;

            img {
                object-fit: cover;
                height: 35%;
                width: 110%;
                // max-width: 2300px;
            }
        }
    }

    //conteneur général de chaque page
    .conteneur {
        align-items: left;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 0px auto;
        margin-bottom: 60px;
        width: 100%;
    }

    //encadrés style général
    .encadres {
        box-shadow: 10px 10px 30px #050e11;
        align-items: flex-end;
        background-color: $bleu-fonce;
        border: 2px solid $jaune;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 40px auto;
        max-height: 250px;
        min-width: 800px;
        max-width: 1400px;
        padding: 20px;
        width: 70%;
        overflow: auto;
    }

    //box shadow des encadrés de formulaires
    form {
        box-shadow: 10px 10px 30px #050e11;
    }

    .erreur {
        p {
            color: $orange;
            font-family: $font-noticia;
            font-weight: bold;
        }
    }

    .reussi {
        p {
            color: $gris-blanc;
            font-family: $font-noticia;
            font-weight: bold;
        }
    }

    // page accueil.view et admin.view
    &.accueil {
        background-color: $bleu-noir;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        
        .conteneur {
            
            .section-haut {
                // height: 65vh;
                background-image: url("../images/image-accueil-projet-web.jpg");
                background-position: 70% 100%;
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: 15vw;
                

                .titre {
    
                    h1 {
                        margin-top: 100px;
                        margin-bottom: 0px;
                        font-size: 64px;
                        letter-spacing: 2px;
                        min-width: 600px;
                        width: 60%;
                    }
                }
    
                .sous-titre {
                    
                    h3 {
                        text-align: left;
                        color: $gris-blanc;
                        font-family: $font-noticia;
                        font-style: italic;
                        font-size: 30px;
                        letter-spacing: 1px;
                        min-width: 600px;
                        transform: scale(1, 1.1);
                        width: 60%;
                    }
                }
    
                .texte {
    
                    p {
                        font-size: 24px;
                        margin-bottom: 30px;
                        min-width: 600px;
                        text-align: justify;
                        width: 60%;
                    }
                }
    
                .logos-commanditaires {
    
                    img {
                        height: 60px;
                        margin: 30px 60px 0px 0px;
                    }
                }

            }

            .section-bas {
                margin-bottom: 60px;
                margin-top: 60px;
                width: 100%;

                h2 {
                    width: 50%;
                }

                .encadres {

                    .image {
                        margin: 0px 40px;

                        img {
                            min-height: 145px;
                            max-height: 180px;
                        }
                    }

                    .details-episodes {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: justify;
                        width: 70%;
                        max-width: 800px;
                        min-width: 250px;
                        height: 100%;
                        max-height: 200px;

                        .titre-episode {
                            h2 {
                                color: $gris-blanc;
                                font-family: $font-anton;
                                font-size: 40px;
                                letter-spacing: 2px;
                                margin: 0px;
                            }
                        }

                        .chaque-episode {
                            margin-bottom: 10px;
                            align-items: baseline;
                            display: flex;
                            justify-content: start;
                            flex-wrap: wrap;
                            
                            
                            .numero-episode {
                                color: $jaune;
                                font-family: $font-anton;
                                font-size: 16px;
                                letter-spacing: 2px;
                                margin-right: 20px;
                            }

                            .date-episode {
                                margin-right: 20px;
                                color: $jaune;
                                font-family: $font-noticia;
                                font-size: 16px;
                            }

                            .temps-episode {
                                margin-right: 20px;
                                color: $jaune;
                                font-family: $font-noticia;
                                font-size: 16px;
                            }
                        }

                        .description-episode {
                            color: $gris-blanc;
                            font-family: $font-noticia;
                            font-size: 18px;
                            margin-bottom: 10px;
                            overflow: auto;

                            p {
                                margin-top: 0px;
                            }
                        }  
                    }
                    
                    .bouton-play {

                        box-shadow: 0px -1.5px 4px $bleu-noir;
                        min-height: 70px;
                        transition: all 0.2s;
                        max-width: 80px;
                        min-width: 60px;   
                        font-size: 44px;
                        padding: 0px 25px;
                    
                    }

                    .bouton-play:hover {
                        box-shadow: 0px 0px 0px $bleu-noir;
                    }

                }
            }
        }
    }
    
    //page avec formulaire section client
    //infolettre.view, login.view, etc
    &.formulaire {
        background-color: $bleu-noir;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;

        header {
            height: 110px;
        }

        .conteneur {
            align-items: center;
            // display: flex;
            // flex-direction: column;
            height: 100%;
            // justify-content: start;
            // margin: 0px auto;
            padding-bottom: 100px;
            // width: 100%;

            h1 {
                margin: 30px auto;
                min-width: 570;
                text-align: center;
            }

            .login-form {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: start;
                margin: 0px auto;
                width: 50%;
                
                form {
                    align-items: center;
                    background-color: $bleu-fonce;
                    border: 2px solid $jaune;
                    display: flex;
                    flex-direction: column;
                    min-height: 400px;
                    justify-content: start;
                    margin: 0px auto;
                    max-width: 600px;
                    min-width: 474px;
                    padding: 20px;
                    width: 100%;
                    
                    span {
                        color: $jaune;
                        display: inline-block;
                        font-size: 18px;
                        width: 100px;
                    }
                    
                    label {
                        display: block;
                        margin: 5px;
                        
                    }
                }
            }
            .login{
                margin: 40px;
    
                input,
                select {
                    background-color: $gris-bleu;
                    border: 2px solid $jaune;
                    font-family: $font-noticia;
                    font-size: 24px;
                    font-weight: bold;
                    margin: 10px;
                    min-width: 200px;
                    padding: 15px;
                    text-align: center;
                    width: 70%;
                }
    
                input[type=submit] {
                    background-color: $jaune;
                    border: 2px solid $jaune;
                    border-radius: 5px;
                    color: $bleu-fonce;
                    cursor: pointer;
                    font-family: $font-anton;
                    letter-spacing: 2px;
                    margin: 60px auto;
                    padding: 6px 0px;
                    text-align: center;
                    transition: all 0.3s;
                    width: 40%;              
                }
    
                input[type=submit]:hover {
                    background-color: $orange;
                }
    
                input::placeholder {
                    color: $bleu-noir;
                    opacity: 1;
                    }
                
            }
        }
        
    }

    // page aPropos.view
    &.a-propos {
        background-color: $bleu-noir;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;

        
        header {
            height: 110px;
        }

        .conteneur {
            height: 100%;
            background-image: url("../images/logo-cinema-fait-maison-fond2.svg");
            background-attachment: fixed;
            background-position: 20% 30%;
            background-repeat: no-repeat;
            background-size: 75%;
            padding-top: 100px;


  
            h1 {
                margin: 30px auto;
                text-align: center;
            }

            h2 {
                margin: 0px auto;
                margin-top: 80px;
                text-align: center;
            }

            .encadres {
                align-items: start;
                // margin-bottom: 100px;

                .image {
                    margin: 0px 40px;
    
                    img {
                        min-height: 145px;
                        max-height: 180px;
                    }
                }
    
                .nom-titre {
                
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    margin: 0px;
                    width: 100%;

                    .nom-membres {

                        h3 {
                            color: $gris-blanc;
                            font-family: $font-anton;
                            font-size: 28px;
                            letter-spacing: 2px;
                            margin: 0px;
                        }
                    }
    
                    .titre-membres {
                        margin: 5px 0px;
                        
                        p {
                            color: $jaune;
                            font-family: $font-anton;
                            font-size: 18px;
                            letter-spacing: 1px;
                        }
                    }
    
                }

                .description-membres {

                    max-height: 200px;
                    overflow: auto;
                    // width: 50%;
                    
                    p {
                        font-size: 18px;
                        margin: 0px 40px;
                        // text-align: justify;
                    }
                }
    
            }
      
            .texte-a-propos {
                max-height: 600px;

                p {
                    text-align: justify;
                    margin: 0px 40px;
                }
            }
        }

    }

    &.video {
        background-color: $bleu-noir;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
     
        header {
            height: 110px;
        }
        
        .conteneur {
            align-items: start;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;

            .details-episodes {
                display: flex;
                flex-direction: column;

                .titre-episode {
                    h2 {
                        color: $gris-blanc;
                        font-size: 40px;
                        letter-spacing: 2px;
                        margin: 0px;
                    }
                }

                .chaque-episode {
                    margin-bottom: 10px;
                    align-items: baseline;
                    display: flex;
                    justify-content: start;
                    flex-wrap: wrap;
                    
                    
                    .numero-episode {
                        color: $jaune;
                        font-family: $font-anton;
                        font-size: 16px;
                        letter-spacing: 2px;
                        margin-right: 20px;
                    }

                    .date-episode {
                        margin-right: 20px;
                        color: $jaune;
                        font-family: $font-noticia;
                        font-size: 16px;
                    }

                    .temps-episode {
                        margin-right: 20px;
                        color: $jaune;
                        font-family: $font-noticia;
                        font-size: 16px;
                    }
                }

                .description-episode {
                    color: $gris-blanc;
                    font-family: $font-noticia;
                    font-size: 18px;
                    margin-bottom: 10px;
                    overflow: auto;

                    p {
                        margin-top: 0px;
                    }
                }  
            }

            .section-gauche {

                .chaque-episode {
                    flex-direction: row;
                }
            }

            .ligne-verticale {
                background-color: $jaune;
                width: 3px;
                height: 600px;
            }

            .section-droite {
                overflow: auto;

                .boutons:hover {
                    background-color: $gris-bleu;
                    box-shadow: 0px 0px 0px $bleu-fonce;
                    transform: translateY(-2px);
                }

                
                .encadres {
                    align-items: start;
                    min-width: 400px;
                    padding: 10px;
                    
                    .image {
                        margin: 10px;
                        
                        img {
                            max-height: 120px;
                        }
                    }
                    
                    .details-episodes {
                        margin: 10px;
                        width: 100%;
                        
                        .titre-episode {
                            h3 {
                                color: $gris-blanc;
                                font-size: 20px;
                                letter-spacing: 2px;
                                margin: 0px;
                                text-align: left;
                            }
                        }
                        
                        .chaque-episode {
                            flex-direction: column;

                        }
                    }

                    .bouton-play {

                        box-shadow: 0px -1.5px 4px $bleu-noir;
                        min-height: 70px;
                        transition: all 0.2s;
                        max-width: 80px;
                        min-width: 60px;   
                        font-size: 44px;
                        padding: 0px 25px;
                    
                    }

                    .bouton-play:hover {
                        box-shadow: 0px 0px 0px $bleu-noir;
                    }
                }
            }
            
            video {
                width: 100%;
                max-width: 1280px;
                height: auto;
            }
        }
    }

    //Boutons et encadrés de toutes les pages de la section admin
    &.admin {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;

        header {
            height: 110px;
        }

        //boutons section admin (bleu/gris)
        .boutons {
            background-color: $gris-bleu;
            border-bottom: 1px solid $verdatre-pale;
            border-right: 0.5px solid $verdatre-pale;
            border-left: 0.5px solid $verdatre-pale;
            transition: all 0.2s;
        }

        .boutons:hover {
            background-color: $bleu-noir;
            border-bottom: 0px;
            border-right: 0px;
            border-left: 0px;
            box-shadow: 0px 0px 0px $bleu-fonce;
            transform: translateY(-2px);
    
        }

        a:hover {
            color: $verdatre-pale;
        }

        .conteneur {
            justify-content: space-between;
            .section-bas {
                // margin-top: 40px;
    
                .encadres {
                    border: 2px solid $verdatre-pale;
                    align-items: start;
        
                    h3 {
                        color: $gris-blanc;
                        font-family: $font-anton;
                        font-size: 28px;
                        letter-spacing: 2px;
                        margin: 0px;
                    }

                    .boutons-encadres {
                        align-items: flex-end;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin: 10px 0px;
                        


                    }
        
                    // page admin.view.php
                    .details-episodes {
        
                        .chaque-episode {
         
                            .temps-episode {
                                color: $verdatre-pale;
                            }
                            .date-episode {
                                color: $verdatre-pale;
                            }
                            .numero-episode {
                                color: $verdatre-pale;
                            }
                        }
        
                        .description-episode {
                            max-height: 100px;
                            overflow: auto;
                        }  
                    }

                    //page ajout-utilisateur.view.php
                    .utilisateur {

                        .courriel-utilisateur {
                           p {
                               color: $verdatre-pale;
                           }
                        }
                    }

                    //page ajout-membre.view.php
                    .nom-titre {
                        width: 100%;
    
                        .titre-membres {
   
                            p {
                                font-family: $font-anton;
                                color: $verdatre-pale;
                            }
                        }   
                    }
    
                    .description-membres {
                        margin: 0px 40px;
                        max-height: 200px;
                        min-width: 200px;
                        max-width: 400px;
                        overflow: auto;
                    }

                }
         
                .bouton-modifier,
                .bouton-supprimer {
                    box-shadow: 0px -1.5px 4px $bleu-noir;
                    transition: all 0.2s;
                    margin: 10px;
                }
        
                .bouton-modifier:hover {
                    box-shadow: 0px 0px 0px $bleu-noir;
                }
            }
        }
    }

    //page avec formulaire section admin
    //ajout-membre.view, , etc
    &.formulaire-admin {
        background-color: $bleu-noir;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;

        header {
            height: 110px;
        }

        .conteneur {
            align-items: center;
            // display: flex;
            // flex-direction: column;
            height: 100%;
            // margin: 0px auto;
            // padding-bottom: 100px;
            // width: 100%;

            h1 {
                margin: 30px auto;
                min-width: 350px;
                text-align: center;
            }

            h2 {
                margin: 30px auto;
                min-width: 350px;
                text-align: center;
            }

            .ajout-form {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: start;
                margin: 0px auto;
                width: 50%;
                
                form {
                    align-items: center;
                    background-color: $bleu-fonce;
                    border: 2px solid $verdatre-pale;
                    display: flex;
                    flex-direction: column;
                    min-height: 400px;
                    justify-content: start;
                    margin: 0px auto;
                    max-width: 800px;
                    min-width: 400px;
                    padding: 20px;
                    width: 100%;
                    
                    span {
                        color: $verdatre-pale;
                        font-family: $font-noticia;
                        display: inline-block;
                        font-size: 18px;
                        margin-top: 20px;
                        
                        strong {
                            color: $gris-blanc;
                        }
                    }
                    
                    label {
                        display: block;
                        margin: 5px;
                        
                    }
                }
            }
            .login{
                // margin: 40px;
    
                input,
                select,
                textarea {
                    background-color: $gris-bleu;
                    border: 2px solid $verdatre-pale;
                    font-family: $font-noticia;
                    font-size: 24px;
                    font-weight: bold;
                    margin: 10px;
                    min-width: 200px;
                    padding: 15px;
                    text-align: center;
                    width: 70%;
                }
    
                input[type=submit] {
                    background-color: $verdatre-pale;
                    border: 2px solid $verdatre-pale;
                    border-radius: 5px;
                    color: $bleu-fonce;
                    cursor: pointer;
                    font-family: $font-anton;
                    letter-spacing: 2px;
                    margin: 60px auto;
                    padding: 6px 0px;
                    text-align: center;
                    transition: all 0.3s;
                    width: 40%;              
                }
    
                input[type=submit]:hover {
                    background-color: $bleu-noir;
                    color: $verdatre-pale;

                }
    
                input::placeholder,
                textarea::placeholder {
                    color: $bleu-noir;
                    opacity: 1;
                    }
                
            }
        }
        
    }

    //footer des pages de la section client
    footer {
        background-color: $bleu-fonce;
        display: flex;
        justify-content: space-between;
        min-width: 820px;
        width: 100%;
    
        .logos-commanditaires {
            img {
                height: 30px;
                margin: 10px 30px;
            }
        }
    
        .bouton-admin {
            margin: 8px;
            padding: 5px;
    
            a {
                background-color: $gris-bleu;
                border-radius: 5px;
                color: $bleu-noir;
                font-family: $font-anton;
                font-size: 24px;
                letter-spacing: 2px;   
                padding: 5px 15px;
                text-decoration: none;
                text-align: center;
                transition: all 0.3s;
            }
    
            a:hover {
                background-color: $bleu-noir;
                color: $gris-blanc;
            }

            .bouton-actif-admin-footer {
                background-color: $bleu-noir;
                border-radius: 3px;
                box-shadow: 0px 0px 0px $bleu-fonce;
                color: $gris-blanc;
                text-align: center;
            }
        }
    
        .logos-reseaux {
            margin-right: 30px;
            img {
                height: 40px;
                margin: 10px 15px;
            }
        }
    }
}
